{% extends "index.html" %}

{% block title %}Главная | Com-plex{% endblock %}

{% block content %}

	     
	<div class="header_slide">
			<div class="header_bottom_left">				
				<div class="categories">
				  <ul>
				  	<h3>Категории</h3>
				  	{% for category in categories %}
				      <li><a href="{{ category.get_absolute_url }}" id = "{{ category.id }}">{{ category.categories }}</a></li>
				    {% endfor %}
				       
				  </ul>
				</div>					
	  	     </div>
					 <div class="header_bottom_right">					 
					 	 <div class="slider">					     
							 <div id="slider">
			                    <div id="mover">
			                    	{% for banner in banners %}
			                    	<div id="{{banner.id}" class="slide">			                    
									 <div class="slider-img">
									     <a href="{{banner.url}}"><img src="{{ MEDIA_URL }}{{banner.image}}" alt="learn more" /></a>									    
									  </div>
						             	<div class="slider-text">
		                                 <h1><span>{{banner.string_one}}</span></h1>
		                                 <h2>{{banner.string_two}}</h2>
									   <div class="features_list">
									   	<h4>{{banner.string_three}}</h4>							               
							            </div>
							             <a href="{{banner.url}}" class="button">{{banner.button_name}}</a>
					                   </div>			               
									  <div class="clear"></div>				
				                  </div>
				                  {% endfor %}	
						             	<!--<div class="slide">
						             		<div class="slider-text">
		                                 <h1>Внимание!<br><span>АКЦИЯ</span></h1>
		                                 <h2>Скидка до 40% </h2>
									   <div class="features_list">
									   	<h4>Узнать больше про проводимые акции</h4>							               
							            </div>
							             <a href="preview.html" class="button">Shop Now</a>
					                   </div>		
						             	 <div class="slider-img">
									     <a href="preview.html"><img src="images/slide-3-image.jpg" alt="learn more" /></a>
									  </div>						             					                 
									  <div class="clear"></div>				
				                  </div>
				                  <div class="slide">						             	
					                  <div class="slider-img">
									     <a href="preview.html"><img src="images/slide-2-image.jpg" alt="learn more" /></a>
									  </div>
									  <div class="slider-text">
		                                 <h1>Внимание!<br><span>АКЦИЯ</span></h1>
		                                 <h2>Скидка до 10% </h2>
									   <div class="features_list">
									   	<h4>Узнать больше про проводимые акции</h4>							               
							            </div>
							             <a href="preview.html" class="button">Заказать сейчас</a>
					                   </div>	
									  <div class="clear"></div>				
				                  </div>-->												
			                 </div>		
		                </div>
					 <div class="clear"></div>					       
		         </div>
		      </div>
		   <div class="clear"></div>
		</div>
   </div>-->
 <div class="main">
    <div class="content">
    	<div class="content_top">
    		<div class="heading">
    		<h3>Новая продукция</h3>
    		</div>
    		<div class="clear"></div>
    	</div>
	      <div class="section group">
	      	{% for product in products %}
				<div class="grid_1_of_4 images_1_of_4">
					 <a href="/product_detail/{{ product.id }}"><img src="{{product.mainphoto.url}}" alt="" /></a>
					 <h2>{{product.short_text}}</h2>
					<div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">{{product.price}}</span></p>
					    </div>
					       		<div class="add-cart">								
									<h4><a href="/product_detail/{{ product.id }}">Заказать</a></h4>
							     </div>
							 <div class="clear"></div>
					</div>
					 
				</div>
				{% endfor %}
			</div>
			

{% endblock %}
