
<!DOCTYPE HTML>
<head>
<title>{% block title %}{% endblock %}</title>
<!--HARDCORE-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{STATIC_URL}}css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<link href="{{STATIC_URL}}css/easy-responsive-tabs.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/global.css">
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.2.min.js"></script> 
<script type="text/javascript" src="{{STATIC_URL}}js/move-top.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/easing.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/startstop-slider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/cart.js"></script>
<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [46.48062007918, 30.743592292145],
            zoom: 17
        });
		DG.marker([46.48062007918, 30.743592292145]).addTo(map).bindPopup('com-PLEX');
    });
</script>
<!-- HARDCORE-->
 {% block extra_css %}{% endblock %}
{% load staticfiles %}

</head>
<body>
  <div class="wrap">
	<div class="header">
		<div class="headertop_desc">
			<div class="call">
				 <p><span>Нужна помощь?</span> звоните нам! <span class="number">{{companyinfo.phone}}</span></p>
			</div>
			<div class="account_desc">
				<ul>
                    <li><a href="/cart/">Корзина</a></li>
                    <li><a href="/register/">Регистрация</a></li>
					<li><a href="/login">Вход</a></li>
					<li><a href="/delivery">Доставка</a></li>
					<li><a href="#">Личный кабинет</a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="header_top">
			<div class="logo">
				<a href="/"><img src="{{STATIC_URL}}images/logo2.png" alt="" /></a> <!--CHNGE THIS FUCKING SHIT! -->
			</div>
			  <!--<div class="cart">
			  	   <p><span><a href="cart.html">Корзина:</a></span><div id="dd" class="wrapper-dropdown-2"> 0 товаров - $0.00
			  	   	<ul class="dropdown">
							<li>Вы еще ничего не заказали</li>
					</ul></div></p>
			  </div>-->
			  <script type="text/javascript">
			function DropDown(el) {
				this.dd = el;
				this.initEvents();
			}
			DropDown.prototype = {
				initEvents : function() {
					var obj = this;

					obj.dd.on('click', function(event){
						$(this).toggleClass('active');
						event.stopPropagation();
					});	
				}
			}

			$(function() {

				var dd = new DropDown( $('#dd') );

				$(document).click(function() {
					// all dropdowns
					$('.wrapper-dropdown-2').removeClass('active');
				});

			});

		</script>
	 <div class="clear"></div>
  </div>
	<div class="header_bottom">
	     	<div class="menu">
	     		<ul>
			    	<li class="active"><a href="/">Главная</a></li>
			    	<li><a href="/about/">О нас</a></li>
			    	<li><a href="/delivery/">Доставка</a></li>
			    	<li><a href="/contact">Контакты</a></li>
			    	<div class="/clear/"></div>
     			</ul>
	     	</div>
	     	<div class="search_box">
	     		<!--<form >
	     			<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
	     		</form>-->
	     		 <form action="/search/" method="post" class="form-search">{% csrf_token %}
					<div class="input-append">
					<input type="text" name="search" class="search-query">
					
					</div>
				</form>
	     	</div>
	     	<div class="clear"></div>
	     </div>
	     {% block content %}{% endblock %}
	     
	
   <div class="footer">
   	  <div class="wrap">	
	     <div class="section group">
				<div class="col_1_of_4 span_1_of_4">
						<h4>Карта сайта</h4>
						<ul>
						<li><a href="/">Главная</a></li>
						<li><a href="/about">О нас</a></li>
						<li><a href="/delivery/">Доставка</a></li>
						<li><a href="/contact/">Контакты</a></li>
						<li><a href="/cart/">Корзина</a></li>
						</ul>
					</div>
				<div class="col_1_of_4 span_1_of_4">
					<h4>Разработчики</h4>
						<ul>
						<li><a href="/">About Us</a></li>
						<li><a href="/">Customer Service</a></li>
						</ul>
				</div>
				<!--<div class="col_1_of_4 span_1_of_4">
					<h4>Учетная запись</h4>
						<ul>
							<li><a href="register">Регистрация</a></li>
							<li><a href="#">Мои заказы</a></li>
							<li><a href="contact.html">Помощь</a></li>
						</ul>
				</div>-->
				<div class="col_1_of_4 span_1_of_4">
					<h4>Связаться с нами</h4>
						<ul>
							<li><span>{{companyinfo.phone}}</span></li>
							<li><span>{{companyinfo.company_email}}</span></li>
						</ul>
						<!--<div class="social-icons">
							<h4>Follow Us</h4>
					   		  <ul>
							      <li><a href="#" target="_blank"><img src="{{STATIC_URL}}images/facebook.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="{{STATIC_URL}}images/twitter.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"><img src="{{STATIC_URL}}images/skype.png" alt="" /> </a></li>
							      <li><a href="#" target="_blank"> <img src="{{STATIC_URL}}images/dribbble.png" alt="" /></a></li>
							      <li><a href="#" target="_blank"> <img src="{{STATIC_URL}}images/linkedin.png" alt="" /></a></li>
							      <div class="clear"></div>
						     </ul>
   	 					</div>-->
				</div>
			</div>			
        </div>
        <div class="copy_right">
				<p>Com-plex © Все права защищены | Design by  <a href="amax9x@gmail.com">Andrij Maksymenko</a> </p>
		   </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"><span id="toTopHover"> </span></a>
    <!--HARDCORE! -->
   
{% block extra_js %}{% endblock %}
</body>
</html>

