{% extends "index.html" %}

{% block meta_title %}Регистрация | UkraineMotors{% endblock %}

{% block content %}
`

{% if user.is_authenticated %}
<section id="blog" class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4 align="center">Что такое, {{ user.username }}? Вы же уже зарегистрированы!</h4>
    </div>
</div>
</section>

{% else %}
<section id="blog" class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h4 align="center">Регистрация</h4>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or"></span>
        </div>
       <div class ="contact-form">
        <form method="post" action="">
          {% csrf_token %} 
            {{ form.non_field_errors }}
              {{ form.username.errors }}
              <label for="id_username">Логин</label>
              {{ form.username }}<br>
              {{ form.company_name.errors }}
              <label for="id_company_name">Название компании</label>
              {{ form.company_name }}<br>
              {{ form.phone.errors }}
               <label for="id_phone">Контактный телефон</label>
              {{ form.phone }}<br>
              {{ form.password1.errors }}
              <label for="id_password1">Пароль</label>
              {{ form.password1 }}<br>
              {{ form.password2.errors }}
              <label for="id_password2">Повторите пароль</label>
              {{ form.password2 }}<br>
              {{ form.email.errors }}
              <label for="email">Email</label>
              {{ form.email }}
              <br>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    {{ form.first_name.errors }}
                    <label for="id_first_name">Имя</label>
                    {{ form.first_name }}
                </div>
                <div class="col-xs-6 col-md-6">
                    {{ form.last_name.errors }}
                    <label for="id_last_name">Фамилия</label>
                    {{ form.last_name }}
                </div>
            </div>
            <br>
            <span><input type="submit" value="Зарегестрироваться" class="myButton"></span>
        </form>
    </div>
</div>
</section>
{% endif %}

{% endblock %}
